@charset "UTF8";

div#todosList {
    position: relative;
    float: left;
}

table#List {
    border: 2px solid black;
    border-collapse: collapse;
}

table#List th {
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
}

table#List td {
    border: 2px solid black;
}

thead#headerList th#descricao {
    padding: 10px 120px 10px 120px;
    width: 74px;
}

thead#headerList th#status {
    padding: 10px 32px 10px 32px;
}

div#setNewTodo {
    width: 580px; 
    float: right;
}

div#setNewTodo {
    border: 2px solid black;
}

table#tableNewTodo td {
    padding: 20px;
    border: none;
}

table#tableNewTodo th {
    border-bottom: 2px solid black;
}

textarea {
    outline: none;;
    resize: none;
}

select {
    outline: none;
}

input {
    outline: none;
}

button#botaoAdicionar {
    margin: 20px;
    outline: none;
}

td.conteudo {
    text-align: center;
}

tbody#tbodyList div {
    text-align: center;
    padding: 2px;
}

tbody#tbodyList div.divdescricaoValue {
    text-align: left;
    word-wrap: break-word;
    width: 308px;
}

tbody#tbodyList div.divdataLimiteValue {
    word-wrap: break-word;
    width: 80px;
}

div#divDataLimite {
    word-wrap: break-word;
    width: 46px;
}

div.divDataLimiteValue {
    width: 100px;
}